# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
env/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Excel folder
original_xlsx/
xlsx/